<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

In [ ]:
# Data Science Tools and Ecosystem Overview

In this notebook, we explore key components of the Data Science ecosystem, including popular languages, libraries, tools, and basic Python arithmetic operations.

**Popular Data Science Languages:**
- Python
- R
- SQL
- Julia

**Commonly Used Data Science Libraries:**
- Pandas (Python)
- NumPy (Python)
- Scikit-learn (Python)
- ggplot2 (R)

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Spark             |
| Git & GitHub             |

### Arithmetic Expression Examples  
Arithmetic operations like `+`, `-`, `*`, and `/` are fundamental in data science.  
Example: `(3 * 4) + 5 = 17`

In [1]:
# Multiply and add numbers
result = (3 * 4) + 5
print(result)  # Output: 17

17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes = {hours:.2f} hours")  # Output: 200 minutes = 3.33 hours

200 minutes = 3.33 hours

**Objectives Achieved:**  
- Listed popular languages (Python, R, SQL).  
- Highlighted key libraries (Pandas, NumPy).  
- Created a table of tools (Jupyter, RStudio).  
- Demonstrated arithmetic operations.  
- Converted minutes to hours in Python.

**Author:** Yihong Wang

Copyright Â©2024 IBM Corporation. All rights reserved.